@using Models
<div>
    <div class="m-3 p-2">
        Smooth Chart
        <RadzenSwitch @bind-Value=isSmooth Style="display: flex"></RadzenSwitch>
    </div>
    <RadzenChart>
        @foreach (var dataSet in Data)
        {
            <RadzenLineSeries Data="@dataSet.Items" CategoryProperty="Date" ValueProperty="CurrencyRate"
            Title="@dataSet.CurrencyName" Smooth="@isSmooth">
                <RadzenMarkers MarkerType="MarkerType.Circle" />
            </RadzenLineSeries>
        }
    </RadzenChart>
</div>


@code {
    [Parameter]
    public List<DataSet> Data { get; set; }
    bool isSmooth;
}
