@page "/"

<h1>Currency and Stock Prognoser app</h1>
<div class="p-3">
    This app is designed to prognose currency rates and stock market using neural network models.
    <p>If you want to see currency rates for the past days, go to <a href="calendar">Calendar</a></p>
    <p>If you want to prognose currency rates, go to <a href="currency-calculators">Currency Calculator</a></p>
    <p>If you want to prognose stock market, go to <a href="stock-calculator">Stock Calculator</a></p>
</div>